<div class="card m-2">
    <div class="card-body row d-flex">
        <div class="d-flex justify-content-center">
            <!--Super placeholder image, need to add an image link for restaurant logos to the DB-->
            <img class="img-fluid" src="https://dynamic.brandcrowd.com/asset/logo/bf5ae897-4cc3-441b-af36-e9d8a4ab388b/logo-search-grid-1x?v=637660547547300000">
        </div>
        <div class="d-flex justify-content-center align-content-center h-100">
            <h4>{{restaurantData?.name}}</h4>
        </div>
    </div>
</div>
